*{
  background:fixed;
  background-image: url('./images/background.png');
  color: white;
}
/* temporal */
option{
  background: #040B3A
}

/* DASHBOARD CSS */
.logo{
  display:flex;
  align-self: center;
  height: 22vh;
  background: #040B3A;
}
.dashboardContainer{
  width: auto;
  height: auto;
  margin: 8vh;
  padding: 4vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #040B3A;
  align-items: center;
}
.dashboardContainer p{
  background: #040B3A;
  align-self: center;
}
.dashboardContainer button{
  /* justify-self: center; */
  align-self: center;
  background: #040B3A;
  margin-left: 0;
}

.mainContainer{
  background-color: #040B3A !important;
  width: auto;
  height: auto;
  margin: 8vh;
  padding: 4vh;
  border: 2px solid red;
}
.addedSong{
  color:#03CEA4;
  margin: 0;
  font-weight: bold;
  text-transform: capitalize;
}
.addedArtist{
  color:#03CEA4;
  margin: 0;
}

button {
  margin-left: 2vw;
  padding: 0.8em 1.8em;
  border: 2px solid #03CEA4;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #03CEA4;
 }

 button::before {
  content: '';
  width: 0;
  height: 1000%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #03CEA4;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }

 button:hover::before {
  width: 105%;
 }

 button:hover {
  color: #111;
 }
