@import url('https://fonts.googleapis.com/css?family=Actor:400|Big+Shoulders+Text:400');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400');

* {
  background: fixed;
  background-image: url('./images/background.png');
  color: white;
}

@media only screen and (max-width: 600px) {
  #root {
    height: 102% !important;
  }
  button {
    padding: 0px 10px !important;
    border-radius: 20px !important;
    font-size: 10px !important;
    height: 30px !important;
  }
}
#root {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
html {
  display: flex;
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
}
input {
  background: none;
  border-radius: 20px;
}
/* general buttons */
button {
  padding: 0.3em 0.8em;
  border: 1px solid #E1E8F4;
  border-radius: 35px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  transition: 0.2s;
  z-index: 1;
  font-family: inherit;
  color: #03CEA4;
  background: none;
  font-weight: 500;
  height: 38px;
  letter-spacing: 0.5px;
}
button::before {
  content: '';
  width: 0;
  height: 4000%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #03CEA4;
  transition: 0.3s ease-in;
  display: block;
  z-index: -1;
}
button:hover::before {
  width: 105%;
}
button:hover {
  color: rgb(0, 0, 0);
  border: 1px solid #03CEA4;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: none;
}